In [6]:
import pyspark
from pyspark.sql import SparkSession
spark.version

'3.5.1'

24/03/02 19:38:54 ERROR StandaloneSchedulerBackend: Application has been killed. Reason: Master removed our application: KILLED
24/03/02 19:38:54 ERROR Inbox: Ignoring error
org.apache.spark.SparkException: Exiting due to error from cluster scheduler: Master removed our application: KILLED
	at org.apache.spark.errors.SparkCoreErrors$.clusterSchedulerError(SparkCoreErrors.scala:291)
	at org.apache.spark.scheduler.TaskSchedulerImpl.error(TaskSchedulerImpl.scala:981)
	at org.apache.spark.scheduler.cluster.StandaloneSchedulerBackend.dead(StandaloneSchedulerBackend.scala:165)
	at org.apache.spark.deploy.client.StandaloneAppClient$ClientEndpoint.markDead(StandaloneAppClient.scala:263)
	at org.apache.spark.deploy.client.StandaloneAppClient$ClientEndpoint$$anonfun$receive$1.applyOrElse(StandaloneAppClient.scala:170)
	at org.apache.spark.rpc.netty.Inbox.$anonfun$process$1(Inbox.scala:115)
	at org.apache.spark.rpc.netty.Inbox.safelyCall(Inbox.scala:213)
	at org.apache.spark.rpc.netty.Inbox.process(Inbox.scala:100)
	at org.apache.spark.rpc.netty.MessageLoop.org$apache$spark$rpc$netty$MessageLoop$$receiveLoop(MessageLoop.scala:75)
	at org.apache.spark.rpc.netty.MessageLoop$$anon$1.run(MessageLoop.scala:41)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1583)

In [4]:
spark = (
    SparkSession.builder
    .master("spark://Math-47770:7077")
    .appName("test")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/02 19:23:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df_green = spark.read.parquet('data/pq/green/*/*')
# df_yellow = spark.read.parquet('data/pq/yellow/*/*')

24/03/02 19:24:09 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [6]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [9]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [11]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [16]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
	.withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')
	
df_yellow = df_yellow \
	.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
	.withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [18]:
common_cols = [col for col in df_green.columns if col in df_yellow.columns]

In [20]:
from pyspark.sql import functions as F

df_green_sel = df_green \
	.select(common_cols) \
	.withColumn('service_type', F.lit('green'))

df_yellow_sel = df_yellow \
	.select(common_cols) \
	.withColumn('service_type', F.lit('yellow'))

In [21]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [22]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [36]:
df_trips_data.createOrReplaceTempView('trips_data')

In [38]:
spark.sql("""
SELECT
	service_type,
	count(1)
FROM
	trips_data
GROUP BY
	service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [40]:
df_result = spark.sql("""
SELECT  
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [41]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|         196|2020-01-01 00:00:00|       green|   55130.42999999974|               2233.0|                 1325.0|        1941.0700000000008|           811.5400000000003|                    1011.599999999938|           62713.79000000236|                               258.5|         1.4023121387283237|       3.5389304197814835|
|         184|2020-01-01 00:00:00|       green|              606.67|                31.25|                    7.0|                      9.76|          27.759999999999998|                   7.1999999999999975|           689.6400000000001|                                 0.0|                        1.8|        6.706249999999998|
|         252|2020-01-01 00:00:00|       green|   5875.359999999996|               305.75|                   32.0|        37.919999999999995|          367.20000000000016|                    62.09999999999977|           6680.330000000003|                                 0.0|                        1.1|        6.863824884792624|
|         230|2020-01-01 00:00:00|       green|  1797.4099999999996|                121.0|                    3.0|                       0.0|           97.92000000000002|                   16.200000000000017|          2035.5300000000004|                                 0.0|                        1.0|        7.692142857142857|
|          41|2019-12-01 00:00:00|       green|                20.5|                  1.5|                    1.5|                       0.0|                         0.0|                   0.8999999999999999|                       27.15|                                2.75|                        1.0|       1.2633333333333334|
|          75|2009-01-01 00:00:00|       green|                92.5|                  0.5|                    1.5|                       0.0|                        6.55|                   0.8999999999999999|          104.69999999999999|                                2.75|                        1.0|       10.346666666666666|
|         180|2020-01-01 00:00:00|       green|  4024.4599999999978|               210.75|                   26.0|                     20.24|           84.89000000000001|                   43.199999999999946|           4414.240000000002|                                2.75|         1.3396226415094339|        5.324473684210524|
|          97|2020-01-01 00:00:00|       green|  165026.70999999935|               7922.0|                 5634.5|        16785.829999999914|           530.5100000000003|                    3702.300000000784|          202092.39999998402|                              2630.5|         1.1673425250067586|       2.7082440145869504|
|         170|2020-01-01 00:00:00|       green|   6226.099999999998|                412.5|                   20.0|                       0.0|           627.7800000000003|                    57.89999999999981|           7344.279999999999|                                 0.0|                        1.0|          9.5339896373057|
|          72|2020-01-01 00:00:00|       green|   37109.15000000008|              2685.25|                  302.0|                     62.29|           645.5600000000004|                    399.0000000000094|          41227.249999999935|                                8.25|         1.1075697211155378|        4.902881028938903|
|          48|2020-01-01 00:00:00|       green|   3266.299999999999|                220.0|                   19.0|                       0.0|          128.00000000000003|                   32.700000000000045|          3666.0000000000005|                                 0.0|                        1.0|        7.997614678899081|
|          69|2020-01-01 00:00:00|       green|   40027.35999999987|              2581.25|                  475.5|                    312.95|           1143.719999999999|                    545.1000000000087|           45136.08000000011|                                38.5|           1.20863309352518|        4.430530035335686|
|          98|2020-01-01 00:00:00|       green|   5543.489999999997|                344.5|                   38.0|                      6.46|          109.64000000000001|                    60.89999999999978|           6110.440000000002|                                 5.5|          1.173913043478261|        5.632169811320755|
|         122|2020-01-01 00:00:00|       green|  15148.770000000002|                822.5|                  101.5|                      3.46|           297.5500000000001|                    147.8999999999999|          16523.629999999976|                                 0.0|         1.1025641025641026|        6.260075471698112|
|          27|2020-01-01 00:00:00|       green|   897.5000000000001|                 29.0|                    4.5|                       0.0|                       67.24|                    5.699999999999998|          1003.9399999999999|                                 0.0|                        1.0|        7.724210526315789|
|         254|2020-01-01 00:00:00|       green|   35814.50000000007|              2336.75|                  215.0|                     11.26|          1600.8499999999915|                    352.5000000000076|           40336.70999999992|                                 0.0|         1.2430939226519337|        7.236776669224856|
|         177|2020-01-01 00:00:00|       green|  30540.450000000088|               2137.5|                  281.0|         77.33999999999999|           717.6500000000005|                    339.0000000000071|           34114.28999999981|                                 5.5|         1.1308724832214765|        5.184568372803663|
|          82|2020-01-01 00:00:00|       green|   204217.5500000009|              9166.25|                 8230.5|        12530.029999999979|          1826.8899999999865|                    5244.000000001719|          242067.41999994728|                              876.75|          1.427270548765876|       2.4994312742834635|
|         225|2020-01-01 00:00:00|       green|   54163.14000000001|               3779.0|                  573.0|         299.3200000000001|           786.1500000000003|                    662.0999999999909|           60424.11000000044|                                49.5|         1.1127596439169138|        4.172635719905585|
|          18|2020-01-01 00:00:00|       green|  23890.940000000013|               1332.0|                  215.5|                    154.96|          1081.0999999999992|                    248.7000000000037|           26964.24999999979|                                16.5|          1.176991150442478|        6.298100858369097|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [43]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')